*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Poppins';
}

body{
    min-height: 100vh;
    background-color: var(--second-background);
}

:root{
    --background: rgb(0, 0, 0);
    --second-background: rgb(244, 245, 239);
}

section {
    min-height: 100vh;

}

/* Section1 */
#section1 {
    background:rgba(0, 0, 0, 0.4)url(image/rumah.jpeg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.main-head {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-head h1{
    display: flex;
    font-size: 3em;
    letter-spacing: px ;
}

.main-head h3{
    text-align: center;
    padding-bottom: 2em;
    letter-spacing: 4px;
}
/* Section2 */
#section2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}
.content-2 h2 {
    font-weight: 300;
}

/* Section3 */
#section3 {
    display: flex;
    background-color: var(--background);
    padding: 5% 5%;
}

.content-3{
    justify-content: space-between;
    color: white;
}

.content3-image{
    background:rgba(0, 0, 0, 0.7)url(image/rumah.jpeg);
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content3-image{
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.grid-image{

}


/* Section4 */
#section4{
    padding: 5% 5%;
}
.teks-4{
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 0.5em;
}
.content-map{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding-bottom: 2em;
}
.content-sosmed hr{
}
.content-sosmed{
    text-align: center;
}

iframe {
    border-radius: 5%;
    width: 300px;
    height: 300px;
}


/* Section5 */
#section5 {
    background:rgba(0, 0, 0, 0.4)url(image/harimau.jpeg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.content-5 h1{
    display: flex;
    text-align: center;
    font-size: 3em;
}







/* Responsif */
@media {
    
}