*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Poppins';
}

body{
    min-height: 100vh;
    background-color: var(--second-background);
}

:root{
    --background: rgb(0, 0, 0);
    --second-background: rgb(244, 245, 239);
}

section {
    min-height: 100vh;

}

/* Section1 */
#section1 {
    background:rgba(0, 0, 0, 0.4)url(image/rumah.jpeg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.main-head {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-head h1{
    display: flex;
    font-size: 3em;
    letter-spacing: px ;
}

.main-head h3{
    text-align: center;
    padding-bottom: 2em;
    letter-spacing: 4px;
}
/* Section2 */
#section2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}
.content-2 h2 {
    font-weight: 300;
}

/* Section3 */
#section3 {
    background-color: var(--background);
    padding: 5% 5%;      
    min-height: auto;
}

.content-3-content{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 2em;
}


.content3-image{
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    height: 300px;
}

.content3-image a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-align: center;
    transition: transform 0.1s ease;
}

.content3-image a:hover{
    transform: scale(1.05); 
}

.content3-image a:nth-child(1){
    background: url(image/harimau.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5%;
}

.content3-image a:nth-child(2){
    background: url(image/harimau.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5%;

}

.content3-image a:nth-child(3){
    background: url(image/harimau.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
        border-radius: 5%;
}


/* Section4 */
#section4{
    padding: 5% 15%;
}
.teks-4{
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 0.5em;
}
.content-map{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2em;
    gap: 1em;
}
.content-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.con-box-left{
    text-align: center;
}


iframe {
    border-radius: 5%;
    width: 400px;
    height: 300px;
}


/* Section5 */
#section5 {
    background:rgba(0, 0, 0, 0.4)url(image/harimau.jpeg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.content-5 h1{
    display: flex;
    text-align: center;
    font-size: 3em;
}

footer {
    background-color: var(--background);
}





/* Responsif */
